:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(150deg, #cb5eee7a 0%, #4be1ec61 100%);
}

.custom-date-field input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.css-19opgx6-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4, h5 {
  color: white;
}

.css-19kzrtu {
  padding-top: 200px !important;
  padding-bottom: 100px !important;
  max-width: 1400px;
}

.css-1rr4qq7 {
  margin: auto 0;
}

.css-y0u0hj {
  padding-top: 50px !important;
  gap: 100px;
}

.css-169hnpe-MuiFormControl-root-MuiTextField-root input[type='number'] {
  width: 153px;
}

.css-m3jaqj-MuiGrid-root {
  flex-direction: column !important;
}

.css-1r9i4v {
  flex-direction: column;
  margin-bottom: 20px;
}

.css-17kt6xd-MuiPaper-root {
  margin-left: 0px !important;
  height: 100%;
  margin: auto 0;
}

.css-16xl4zq-MuiTypography-root {
  max-width: 218px;
  margin-bottom: 60px !important;
}

.css-1blvszr-MuiButtonBase-root-MuiButton-root {
  width: 150px;
}

.back-button {
  transform: translateY(50px);
  margin-left: 17px !important;
  width: 181px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 1024px) {
  .responsive-box {
    flex-wrap: wrap;
    max-width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .responsive-box {
    flex-wrap: wrap;
    max-width: 50%;
    margin: auto;
    justify-content: center !important;
  }

  .css-16xl4zq-MuiTypography-root {
    max-width: 100%;
    text-align: center;
  }

  .css-19k4zfs, .css-19opgx6-MuiFormControlLabel-root, .css-k008qs {
    justify-content: center;
  }

  .clear-filters-btn {
    width: 180px;
    margin: auto !important;
  }

}
